* {
    font-family: Arial;
}

h1 {
    text-align: center;
}

.backgrounds {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    min-height: 150px;
    min-width: 150px;
}

.bg-color {
    background-color: aqua;
}

.bg-image {
    color: mediumorchid;
    background-image: url(../images/markus-spiske-iar-afB0QQw-unsplash.jpg);
    background-size: contain;
}

.bg-gradient {
    background: linear-gradient(217deg, rgba(35, 241, 3, 0.8), rgba(114, 83, 229, 0.679) 70.71%)
}

p {
    margin-bottom: auto;
}